window-rule {
    focus-ring {
        // off
        on
        width 1
        active-gradient from="#80c8ff" to="#bbddff" angle=45
        inactive-gradient from="#505050" to="#808080" angle=45 relative-to="workspace-view"
        urgent-gradient from="#800" to="#a33" angle=45
    }
}
